@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@1,400;1,700&display=swap');

[mt="normal"], [mt="rare"] {
    display: inline-block;
    width: 25px;
    height: 29.28px;
    margin: 0 10px -8px 0 !important;
    background-size: cover;
}

[mt="normal"] {
    background-image: url("https://cdn.jsdelivr.net/gh/watatomo/img/enst/talkevent_normal.png");
}

[mt="rare"] {
    background-image: url("https://cdn.jsdelivr.net/gh/watatomo/img/enst/talkevent_rare.png");
}

span.spell {
    font-family: 'Almendra', serif !important;
    letter-spacing: .015em;
    font-size: 1.1em;
    line-height: 1.3;
}

@media (min-width: 1200px) {
    [character] p>span.spell {
        font-size: 1.15em;
    }
}

[character="Anzu"] {
    --color: #ffb6da;
    --hue: 330.4;
    --name: "Anzu";
}

[character="Hong"] {
    --color: #5BFFDE;
    --hue: 181;
    --name: "Hong Lu";
    --icon: url("https://cdn.jsdelivr.net/gh/kazuicn/honglu@main/testtt.png");
}

[character="Dong"] {
    --color: #5BFFDE;
    --hue: 112;
    --name: "Dongrang";
    --icon: url("https://cdn.jsdelivr.net/gh/kazuicn/honglu@main/dongrang.png");
}

[character="Ishmael"] {
    --color: #ff9500;
    --hue: 35;
    --name: "Ishmael";
    --icon: url("https://cdn.jsdelivr.net/gh/kazuicn/honglu@main/ihsmael.png");
}

[character="Dante"] {
    --color: #5BFFDE;
    --hue: 181;
    --name: "Dante";
    --icon: url("https://cdn.jsdelivr.net/gh/kazuicn/honglu@main/testtt.png");
}

[character="Faust"] {
    --color: #ffbfb4;
    --hue: 9;
    --name: "Faust";
    --icon: url("https://cdn.jsdelivr.net/gh/kazuicn/honglu@main/testtt.png");
}

[character="Meursault"] {
    --color: #293b95;
    --hue: 230;
    --name: "Meursault";
    --icon: url("https://cdn.jsdelivr.net/gh/kazuicn/honglu@main/testtt.png");
}

[character="Sinclair"] {
    --color: #5BFFDE;
    --hue: 181;
    --name: "Sinclair";
    --icon: url("https://cdn.jsdelivr.net/gh/kazuicn/honglu@main/testtt.png");
    
}
[character="Outis"] {
    --color: #5BFFDE;
    --hue: 181;
    --name: "Outis";
    --icon: url("https://cdn.jsdelivr.net/gh/kazuicn/honglu@main/testtt.png");
}

[character="Ryoshu"] {
    --color: #5BFFDE;
    --hue: 181;
    --name: "Ryoshu";
    --icon: url("https://cdn.jsdelivr.net/gh/kazuicn/honglu@main/testtt.png");
}

[character="Heathcliff"] {
    --color: #4e3076;
    --hue: 266;
    --name: "Heathcliff";
    --icon: url("https://cdn.jsdelivr.net/gh/kazuicn/honglu@main/testtt.png");
}

[character="Rodion"] {
    --color: #5BFFDE;
    --hue: 181;
    --name: "Rodion";
    --icon: url("https://cdn.jsdelivr.net/gh/kazuicn/honglu@main/testtt.png");
}

[character="Gregor"] {
    --color: #5BFFDE;
    --hue: 181;
    --name: "Gregor";
    --icon: url("https://cdn.jsdelivr.net/gh/kazuicn/honglu@main/testtt.png");
}

[character="Don"] {
    --color: #5BFFDE;
    --hue: 181;
    --name: "Don Quixote";
    --icon: url("https://cdn.jsdelivr.net/gh/kazuicn/honglu@main/testtt.png");
}

[character="Vergilius"] {
    --color: #5BFFDE;
    --hue: 181;
    --name: "Don Quixote";
    --icon: url("https://cdn.jsdelivr.net/gh/kazuicn/honglu@main/testtt.png");
}

[character="Charon"] {
    --color: #5BFFDE;
    --hue: 181;
    --name: "Don Quixote";
    --icon: url("https://cdn.jsdelivr.net/gh/kazuicn/honglu@main/testtt.png");
}

[character="Aira"] {
    --color: #fff1cf;
    --hue: 42.5;
    --name: "Aira";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/aira.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/aira.png");
}
